// Layout variables partial

$section-padding: 40px 0;

section.intro, section.features-extra, section.rsvp {
	background: $section-light;
}
section.features, section.events, section.blog {
	background: $section-dark;
}
// .dropdown-menu{
// 	background-color: transparent;
// 	border: transparent;
// 	border: none;
// }
// .dropdown-menu .dropdown-item > li > a:hover {
// 	background-image: none;
// 	background-color: #000!important;
// }
// .navbar {
// 	background: none;
// 	border-color: transparent;
// }

// .navbar-nav > li > a {
// 	color: white !important;
// }
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 440px !important;
}
.dropdown-content a:hover {
	background-color: transparent;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* Top right text */
.top-right {
	position: absolute;
	top: 110px;
	right: 16px;
	color: chocolate;
}

.center {
    margin-left: auto;
    margin-right: auto;
}