// Layout variables partial

$section-padding: 40px 0;

section.intro, section.features-extra, section.rsvp {
	background: $section-light;
}
section.features, section.events, section.blog {
	background: $section-dark;
}
.dropdown-menu{
	background-color: transparent;
	border: transparent;
	border: none;
}
.dropdown-menu .dropdown-item > li > a:hover {
	background-image: none;
	background-color: #000!important;
}
.navbar {
	background: none;
}
.dropdown-content a:hover {
	background-color: transparent;
}